@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* dark mode default */
:root {
    --bg-color: #161717;
    --text-color: #ffffff;
    --paragraph-color: #b6b2b0;
    --nav-icon-bg: #2a2b2b;
    --nav-icon-hover-border: #ebf0f0;
    --links-icon-fill: #bab8b8;
    --links-icon-hover-bg: #2a2b2b;
    --links-icon-hover-fill: #ffffff;
}
body.light-mode {
    --bg-color: #fbf1c7;
    --text-color: #black;
    --paragraph-color: #3c3836;
    --nav-icon-bg: #f2e5bc;
    --nav-icon-hover-border: #d37143;
    --links-icon-fill: #282828;
    --links-icon-hover-bg: #d37143;
    --links-icon-hover-fill: #282828;
}
body {
    background-color: var(--bg-color);
    transition: background-color 0.3s ease;
}
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade-in.visible {
    opacity: 1;
}
.navigation {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: auto;
    align-items: center;
}
.nav-page {
    padding-right: 3%;
    cursor: pointer;
}
.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--nav-icon-bg);
    border: 2px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    margin-left: auto;
}
.nav-icon:hover {
    border-color: var(--nav-icon-hover-border);

}
.links-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}
.links-icon:hover {
    background-color: var(--links-icon-hover-bg);
}
.links-icon:hover svg path {
    fill: var(--links-icon-hover-fill);
    transition: fill 0.3s ease;
}
.links-icon svg path {
    fill: var(--links-icon-fill);
    transition: fill 0.3s ease;
}
.nav-icon svg path {
    fill: var(--text-color);
    transition: fill 0.3s ease;
}
.container-links {
    display: flex;
    align-items: center;
    gap: 0.5%;
    padding-left: auto;
}
.container-main {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    width: 100%;
}
.container-sub1 {
    display: flex;
    flex-direction: column;
}
.container-sub2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 3%;
    flex: wrap;
    justify-content: center;
    align-items: center;
}
.image-wrapper {
    width: 120%;
    max-width: 400px;
    margin: 0 auto 25px auto;
    flex-basis: auto;
}
.name-head {
    font-family: "IBM Plex Mono", monospace;
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.name-head-p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-weight: 400;
    color: var(--paragraph-color);
}
.about-head {
    display: flex;
    flex-direction: column;
}
    .image {
        margin-left: 10%;
        width: 85%;
        border-radius: 3px;
            filter:
                grayscale(100%)       
                brightness(1.1)       
                contrast(1.2)        
                sepia(0.5)            
                hue-rotate(50deg)     
                saturate(1.5); 
    } 
    body.light-mode .image {
        filter:
            grayscale(40%)
            brightness(1)
            contrast(1.1)
            sepia(100%)
            hue-rotate(340deg)
            saturate(180%);
    }
.hoverable {
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease; 
}

@media (max-width: 768px) {
    .container-main {
        max-width: 90%;
    }
    .container-sub2 {
        flex-direction: column;
        padding: 2%;
    }
    .image-wrapper {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 20px auto;
        flex-basis: auto;
    }
    .name-head {
        font-size: 28px;
        text-align: center;
    }
    .name-head-p {
        font-size: 16px;
        text-align: center;
    }
    .container-links {
        padding: 0;
        align-items: center;
        justify-content: center;
    }
}



