@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.profile-section {
    display: flex;
    flex-direction: row; 
    gap: 30px; 
    padding: 20px; 
}
.roundedimage {
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    object-fit: cover; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.image-section{
    margin-top: 100px;
    margin-left: 150px;
}
.my-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
    margin-left: 20px;
}
.profileinfo{
    font-family: "Lato";
    font-size: 1.5rem;
    font-weight: 400;
    color: #0F0F0F;
    margin-top: 55px;
    margin-left: 55px;
}
.profileinfo h1{
    margin: 0;
}
.profileinfo p{
    margin: 0;
    margin-top: 5px;
}
.hoverable {
    cursor: pointer;
    color: white;  
    text-decoration: none;
    transition: color 0.3s ease; 
}
.hoverable:hover {
    color: #CB4B16;
    font-weight: 400;
}
