---
import Layout from '../layouts/Layout.astro';
import Links from '../components/links.astro';
import Description from '../components/description.astro';
import Image from '../components/image.astro';
import '../styles/styles.css'
---
<Layout>
<div class="sub-cont">
    <section class="sub-cont2">
        <Description/>
        <Links/>
    </section>
    <Image/>
</div>
</Layout>
