---
import Layout from '../layouts/Layout.astro';
import '../styles/styling.css'
---

<Layout>
	<div class="headertop">
		<h1
		class="hoverable" 
		style=
		"cursor:pointer;"
		onclick="">Home</h1>
		<h1>Works</h1>
		<h1>About me</h1>
	</div>
	
	<div class="container">
	<div class="box">
		<h1 class="normaltext"></h1>
	</div>
	</div>
	<div class="maincontent">

	</div>
</Layout>
