---
import Links from '../components/links.astro';
---
<div class="sub-cont">
    <div class="sub-cont2">
    
    <h1 class="t2">Jobert Ecawat</h1>
    <section class="sub-cont2-div2">
        <p class="t3">Hello, I'm a 3rd Year IT student @<strong>QCU</strong>.</p>
        <p class="t3">I have a keen interest in everything tech <br />related and have a passion for learning new things.</p>
        <p class="t3">I also draw and read.</p>
    </section>

    <Links/>

    </div>

    <div class="photo-cont">
        <img class="image" src="/maangas.png"/>
    </div>
</div>