<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/halaman2.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ecwt</title>
	</head>

	<body>
		<div class="main-cont">
			<nav class="navigation">
				<ul class="nav-bar">
					<a href="/"> <strong>~</strong> </a>
				</ul>
			</nav>	

			<slot/>
		</div>
	</body>
</html>
